CAPÍTULO 10 - Operações groupby: separar-aplicar-combinar
-

Operações em grupo são um método eficaz de agregar, transformar e filtrar dados. Elas se baseiam no mantra "separar-aplicar-combinar".

1 - Os dados são separados em partes com base em uma ou mais chaves.  
2 - Uma função é aplicada em cada parte.   
3 - Os resultados de cada parte são combinados a fim de criar um novo conjunto de dados

As técnicas exibidas neste capítulo podem ser todas aplicados sem o uso do groupby, porém usar instruções groupby poderá ser mais rapido se quisermos criar vários grupos e facilita o trabalho com conjuntos maiores de dados

10.2 Agregação

A agregação é o processo de transformar vários valores em um único valor, um exemplo para isso é média aritimética

10.2.1 Agregação básica com agrupamento de uma única variavel

As vezes agregação pode ser chamada de sumarização, os dois termos índicam que de alguma forma a redução de dados está envolvida

In [74]:
import pandas as pd
df = pd.read_csv('../../data/gapminder.tsv', sep='\t')

#calcula a expectativa de média para cada ano
avg_life_exp_by_year = df.groupby('year').lifeExp.mean()

print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

In [75]:
print(df)

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]

A instrução anterior usa a notação de ponto para obter subconjuntos da coluna lifeExp; é exatamente o mesmo que obter um subconjunto usando a notação de colchetes

In [76]:
avg_life_exp_by_year = df.groupby('year')['lifeExp'].mean()

print(avg_life_exp_by_year)

year
1952    49.057620
1957    51.507401
1962    53.609249
1967    55.678290
1972    57.647386
1977    59.570157
1982    61.533197
1987    63.212613
1992    64.160338
1997    65.014676
2002    65.694923
2007    67.007423
Name: lifeExp, dtype: float64

Podemos pensar nas intruções groupby como a criação de um subconjunto de cada valor único de uma coluna. Por exemplo poderíamos obter uma lista de valores únicos da coluna

In [77]:
years = df.year.unique()

print(years)

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

Podemos percorrer os anos e obter um subconjunto dos dados

In [78]:
#obtém um subconjunto dos dados do ano 1977
y1977 = df.loc[df.year == 1977, :]

print(y1977.head())

        country continent  year  lifeExp       pop     gdpPercap
5   Afghanistan      Asia  1977   38.438  14880372    786.113360
17      Albania    Europe  1977   68.930   2509048   3533.003910
29      Algeria    Africa  1977   58.014  17152804   4910.416756
41       Angola    Africa  1977   39.483   6162675   3008.647355
53    Argentina  Americas  1977   68.481  26983828  10079.026740

Por fim, podemos execultar uma função nos dados do subconjunto

In [79]:
y1977_mean = y1977.lifeExp.mean()

print(y1977_mean)

59.57015746478874

O método groupby basicamente repete esse processo por todo o DataFrame de forma conveniente.

E claro que há muitos outros métodos que podem ser usados com groupby

10.2.2 Métodos de agregação embutidos

*No livro tem uma tabela com todos os métodos embutidos do Pandas que podem ser usados para agregar dados

Por exemplo podemos calcular várias estátisticas resumidas com describe

In [80]:
#agrupa por continente e descreve cada grupo
continent_describe = df.groupby('continent').lifeExp.describe()

print(continent_describe)

           count       mean        std     min       25%      50%       75%  \
continent
Africa     624.0  48.865330   9.150210  23.599  42.37250  47.7920  54.41150
Americas   300.0  64.658737   9.345088  37.579  58.41000  67.0480  71.69950
Asia       396.0  60.064903  11.864532  28.801  51.42625  61.7915  69.50525
Europe     360.0  71.903686   5.433178  43.585  69.57000  72.2410  75.45050
Oceania     24.0  74.326208   3.795611  69.120  71.20500  73.6650  77.55250

              max
continent
Africa     76.442
Americas   80.653
Asia       82.603
Europe     81.757
Oceania    81.235

10.2.3 Funções de agregação

Também podemos usar uma função de agregação que não está listada na tabela. Em vez de chamar o método de agregação, podemos chamar o método agg ou aggregate e lhe passar a função de agregação que queremos usar. Ao usar agg ou aggregate usaremos as funções listadas na coluna "função do numpy/scipy"

10.2.3.1 funções de outras bibliotecas

In [81]:
import numpy as np

cont_le_agg = df.groupby('continent').lifeExp.agg(np.mean)

print(cont_le_agg)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

C:\Users\User\AppData\Local\Temp\ipykernel_17488\631682429.py:3: FutureWarning: The provided callable <function mean at 0x000001D64D0EFC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  cont_le_agg = df.groupby('continent').lifeExp.agg(np.mean)

agg e aggrate fazem o mesmo

In [82]:
cont_le_agg = df.groupby('continent').lifeExp.aggregate(np.mean)

print(cont_le_agg)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

C:\Users\User\AppData\Local\Temp\ipykernel_17488\3225759254.py:1: FutureWarning: The provided callable <function mean at 0x000001D64D0EFC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  cont_le_agg = df.groupby('continent').lifeExp.aggregate(np.mean)

10.2.3.2 Funções de usuário personalizadas

Também podemos passar uma função que nós mesmos criamos. Para isso basta usar agg ou aggregate

In [83]:
def myMean(values):
    n = len(values)

    sum = 0

    for value in values:
        sum += value

    return (sum / n)

In [84]:
agg_my_mean = df.groupby('continent').lifeExp.aggregate(myMean)

print(agg_my_mean)

continent
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europe      71.903686
Oceania     74.326208
Name: lifeExp, dtype: float64

Podemos também escrecver funções que aceitem vários parâmetros, desde que o primeiro aceiet a Series de valores do DataFrame.

In [85]:
def myMeanDiff(values, diffValue):

    n = len(values)
    sum = 0
    for value in values:
        sum+= value
    mean = sum / n
    return(mean - diffValue)

global_mean = df.lifeExp.mean()
print(global_mean)

59.474439366197174

In [86]:
agg_mean_diff = df.groupby('year').lifeExp.aggregate(myMeanDiff, diffValue=global_mean)

print(agg_mean_diff)

year
1952   -10.416820
1957    -7.967038
1962    -5.865190
1967    -3.796150
1972    -1.827053
1977     0.095718
1982     2.058758
1987     3.738173
1992     4.685899
1997     5.540237
2002     6.220483
2007     7.532983
Name: lifeExp, dtype: float64

10.2.4 Várias funções simultaneamente

Se quisermos usar várias funções de agregação podemos passar uma lista de lista de funções passar agg ou aggregate

In [87]:
#calcula o contador, a média e o desvio-padrão de lifeExp por ano
gdf = df.groupby('year').lifeExp.aggregate([np.count_nonzero,  np.mean, np.std])

print(gdf)

      count_nonzero       mean        std
year
1952            142  49.057620  12.225956
1957            142  51.507401  12.231286
1962            142  53.609249  12.097245
1967            142  55.678290  11.718858
1972            142  57.647386  11.381953
1977            142  59.570157  11.227229
1982            142  61.533197  10.770618
1987            142  63.212613  10.556285
1992            142  64.160338  11.227380
1997            142  65.014676  11.559439
2002            142  65.694923  12.279823
2007            142  67.007423  12.073021

C:\Users\User\AppData\Local\Temp\ipykernel_17488\1120763757.py:2: FutureWarning: The provided callable <function mean at 0x000001D64D0EFC40> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  gdf = df.groupby('year').lifeExp.aggregate([np.count_nonzero,  np.mean, np.std])
C:\Users\User\AppData\Local\Temp\ipykernel_17488\1120763757.py:2: FutureWarning: The provided callable <function std at 0x000001D64D0EFD80> is currently using SeriesGroupBy.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  gdf = df.groupby('year').lifeExp.aggregate([np.count_nonzero,  np.mean, np.std])

10.2.5 Usando um dicionário em agg/aggregate

Outro maneira de aplicar funções nos métodos agg e agregate é passar um dicionário python

10.2.5.1 Em um DataFrame

Ao passar um dict em um DataFrame agrupadp, as chaves serão as colunas e os valores as funções usadas nos cálculos agregados.

In [88]:
gdf_dict = df.groupby('year').agg({
    'lifeExp': 'mean',
    'pop': 'median',
    'gdpPercap': 'median'
})

print(gdf_dict)

        lifeExp         pop    gdpPercap
year
1952  49.057620   3943953.0  1968.528344
1957  51.507401   4282942.0  2173.220291
1962  53.609249   4686039.5  2335.439533
1967  55.678290   5170175.5  2678.334740
1972  57.647386   5877996.5  3339.129407
1977  59.570157   6404036.5  3798.609244
1982  61.533197   7007320.0  4216.228428
1987  63.212613   7774861.5  4280.300366
1992  64.160338   8688686.5  4386.085502
1997  65.014676   9735063.5  4781.825478
2002  65.694923  10372918.5  5319.804524
2007  67.007423  10517531.0  6124.371108

10.2.5.2 Em uma Series

Não é possível passar um dict para uma Series. Caso queiramos colocar nós mesmos nomear colunas de Series agrupados precisamos fazer a agregação primeiro e só depois renomear

In [89]:
gdf = df.groupby('year').lifeExp.aggregate([np.count_nonzero,
                                            'mean',
                                            'std']).\
                                            rename(columns={'count_nonzero': 'count',
                                                            'mean': 'avg',
                                                            'std': 'std_dev'}).reset_index()

print(gdf)

    year  count        avg    std_dev
0   1952    142  49.057620  12.225956
1   1957    142  51.507401  12.231286
2   1962    142  53.609249  12.097245
3   1967    142  55.678290  11.718858
4   1972    142  57.647386  11.381953
5   1977    142  59.570157  11.227229
6   1982    142  61.533197  10.770618
7   1987    142  63.212613  10.556285
8   1992    142  64.160338  11.227380
9   1997    142  65.014676  11.559439
10  2002    142  65.694923  12.279823
11  2007    142  67.007423  12.073021

10.3 Transformação

Quando transformamos dados, passar os valores de nosso dataframe para a função, e ela transformará os dados.  
Diferente do aggregate que pode aceitar diversos valores e devolver um único valor, transoform aceita diversos valores e devolve de um para um

10.3.1 Exemplo com escore z

Vamos calcular o escore z (z-score) de nossos dados de expectativa de vida por ano.  
O escore z identifica o número de desvios-padrões a partir da média de nossos dadps. Ele centraliza nossos dados em torno de 0 com um desvio-padrão de 1. Essa técnica padroniza os dados e facilita comparar variáveis diferentes umas com as outras.

In [90]:
def my_zscore(x):
    """Calcula o escore z dos dados fornecido;
    'x' é um vetor ou uma série de valores.
    """

    return ((x - x.mean()) / x.std())

Podemos usar essa função agora para transformar nossos dados por grupo

Observe que o número de linhas do dataframe e de transform_z é o mesmo

In [91]:
transform_z = df.groupby('year').lifeExp.transform(my_zscore)

print(df.shape)
print(gdf.shape)
print(transform_z.shape)

(1704, 6)
(12, 4)
(1704,)

In [92]:
print(transform_z)

0      -1.656854
1      -1.731249
2      -1.786543
3      -1.848157
4      -1.894173
          ...
1699   -0.081621
1700   -0.336974
1701   -1.574962
1702   -2.093346
1703   -1.948180
Name: lifeExp, Length: 1704, dtype: float64

A biblioteca scipy tem o próprio zscore

In [93]:
from scipy.stats import zscore

sp_z_grouped = df.groupby('year').lifeExp.transform(zscore)

#calcula um zscore sem agrupamento
sp_z_nongroup = zscore(df.lifeExp)

In [94]:
print(transform_z.head())

0   -1.656854
1   -1.731249
2   -1.786543
3   -1.848157
4   -1.894173
Name: lifeExp, dtype: float64

In [95]:
print(sp_z_grouped)

0      -1.662719
1      -1.737377
2      -1.792867
3      -1.854699
4      -1.900878
          ...
1699   -0.081910
1700   -0.338167
1701   -1.580537
1702   -2.100756
1703   -1.955077
Name: lifeExp, Length: 1704, dtype: float64

In [96]:
print(sp_z_nongroup)

0      -2.375334
1      -2.256774
2      -2.127837
3      -1.971178
4      -1.811033
          ...
1699    0.222759
1700    0.069894
1701   -0.980805
1702   -1.508942
1703   -1.238058
Name: lifeExp, Length: 1704, dtype: float64

10.3.1.1 Exemplo com valores ausentes

Preencher conjuntos de dados que possuam dados ausente com a média da coluna pode fazer sentido em alguns casos, já em outras pode fazer mais sentido preencher os dados ausentes com base em um grupo específico.

In [97]:
import seaborn as sns
import numpy as np

#define a semente para que os resultados sejam determinísticos
np.random.seed(42)

#amostra 10 linhas de tips
tips_10 = sns.load_dataset('tips').sample(10)

#escolhe aleatoriamente 4 valores de 'total_bill' e os transforma em ausentes
tips_10.loc[np.random.permutation(tips_10.index)[:4], 'total_bill'] = np.NaN

print(tips_10)

     total_bill   tip     sex smoker   day    time  size
24        19.82  3.18    Male     No   Sat  Dinner     2
6          8.77  2.00    Male     No   Sun  Dinner     2
153         NaN  2.00    Male     No   Sun  Dinner     4
211         NaN  5.16    Male    Yes   Sat  Dinner     4
198         NaN  2.00  Female    Yes  Thur   Lunch     2
176         NaN  2.00    Male    Yes   Sun  Dinner     2
192       28.44  2.56    Male    Yes  Thur   Lunch     2
124       12.48  2.52  Female     No  Thur   Lunch     2
9         14.78  3.23    Male     No   Sun  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2

Podemos usar a instrução groupby a fim de calcular uma estatística para preencher os valores ausentes. Primeiro vamos contar os valores não ausentes por sex

In [98]:
count_sex = tips_10.groupby('sex').count()
print(count_sex)

        total_bill  tip  smoker  day  time  size
sex
Male             4    7       7    7     7     7
Female           2    3       3    3     3     3

C:\Users\User\AppData\Local\Temp\ipykernel_17488\4241220118.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  count_sex = tips_10.groupby('sex').count()

Temos três valroes ausentes para Male e três para Famale. Vamos calcular uma média agrupada e usa-lá para preencher os valores ausentes

In [99]:
def fill_na_mean(x):
    """Devolve a média de um vetor
    """

    avg = x.mean()
    return(x.fillna(avg))

#calcula um total bill médio por sex
total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)

#faz a atribuição a total bill
tips_10['fill_total_bill'] = total_bill_group_mean

C:\Users\User\AppData\Local\Temp\ipykernel_17488\2257601137.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  total_bill_group_mean = tips_10.groupby('sex').total_bill.transform(fill_na_mean)

In [100]:
print(tips_10)

     total_bill   tip     sex smoker   day    time  size  fill_total_bill
24        19.82  3.18    Male     No   Sat  Dinner     2          19.8200
6          8.77  2.00    Male     No   Sun  Dinner     2           8.7700
153         NaN  2.00    Male     No   Sun  Dinner     4          17.9525
211         NaN  5.16    Male    Yes   Sat  Dinner     4          17.9525
198         NaN  2.00  Female    Yes  Thur   Lunch     2          13.9300
176         NaN  2.00    Male    Yes   Sun  Dinner     2          17.9525
192       28.44  2.56    Male    Yes  Thur   Lunch     2          28.4400
124       12.48  2.52  Female     No  Thur   Lunch     2          12.4800
9         14.78  3.23    Male     No   Sun  Dinner     2          14.7800
101       15.38  3.00  Female    Yes   Fri  Dinner     2          15.3800

In [101]:
print(tips_10[['sex', 'total_bill', 'fill_total_bill']])

        sex  total_bill  fill_total_bill
24     Male       19.82          19.8200
6      Male        8.77           8.7700
153    Male         NaN          17.9525
211    Male         NaN          17.9525
198  Female         NaN          13.9300
176    Male         NaN          17.9525
192    Male       28.44          28.4400
124  Female       12.48          12.4800
9      Male       14.78          14.7800
101  Female       15.38          15.3800

page two hundred sixty-one