CAPÍTULO 4 
-
Preparação de dados

4.2 Tidy Data

    - Cada linha é uma observação (observation)

    - Cada coluna é uma variável (variable)

    - Cada tipo de unidade de pbservação forma uma tabela

4.2.1 Combinando conjuntos de dados

Algo muito nescessário é juntar conjuntos de dados para responder alguma pergunta. Se você quer descobrir o preço das ações de uma empresa, mas as informações das empresas estão em uma tebela e as das ações em outras, é preciso que você junte as duas para descobrir e analisar o preço que cada uma tem

4.3 Concatenação

Uma das maeniras mais (conceitualmente) fáceis de combinar dados é por meio da concatenação

4.3.1 Adicionando linhas

In [20]:
import pandas as pd

In [21]:
df1 = pd.read_csv('../../data/concat_1.csv')
df2 = pd.read_csv('../../data/concat_2.csv')
df3 = pd.read_csv('../../data/concat_3.csv')

print(df1, '\n')
print(df2, '\n')
print(df3)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3

    A   B   C   D
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

     A    B    C    D
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

In [22]:
#concatena as listas
row_concat = pd.concat([df1, df2, df3])
print(row_concat)

     A    B    C    D
0   a0   b0   c0   d0
1   a1   b1   c1   d1
2   a2   b2   c2   d2
3   a3   b3   c3   d3
0   a4   b4   c4   d4
1   a5   b5   c5   d5
2   a6   b6   c6   d6
3   a7   b7   c7   d7
0   a8   b8   c8   d8
1   a9   b9   c9   d9
2  a10  b10  c10  d10
3  a11  b11  c11  d11

podemos ver que concat empilha cegamente os dataframes, mantendo os nomes das linhas e apenas as empilhando

In [23]:
print(row_concat.iloc[3, ], '\n')

print(row_concat.loc[3])

A    a3
B    b3
C    c3
D    d3
Name: 3, dtype: object

     A    B    C    D
3   a3   b3   c3   d3
3   a7   b7   c7   d7
3  a11  b11  c11  d11

Se usarmos o loc para obter um subconjunto ele irá pegar todas as linhas do mesmo nome.

Mas usando iloc ele pega apenas uma linha com o índice, o que indica que os índices mudam, mas apenas mantém o nome.

Se criar uma nova Serie e concatenar com um dataframe, ela será concatenada corretamente

In [24]:
new_row_series = pd.Series(['n1', 'n2', 'n3', 'n4'])
print(new_row_series)

0    n1
1    n2
2    n3
3    n4
dtype: object

In [25]:
print(pd.concat([df1, new_row_series]))

     A    B    C    D    0
0   a0   b0   c0   d0  NaN
1   a1   b1   c1   d1  NaN
2   a2   b2   c2   d2  NaN
3   a3   b3   c3   d3  NaN
0  NaN  NaN  NaN  NaN   n1
1  NaN  NaN  NaN  NaN   n2
2  NaN  NaN  NaN  NaN   n3
3  NaN  NaN  NaN  NaN   n4

Para resolver isso precisamos transformar o series em um dataframe

In [26]:
new_row_df = pd.DataFrame([['n1','n2','n3','n4']],
                          columns=['A','B','C','D'])
print(new_row_df)

    A   B   C   D
0  n1  n2  n3  n4

In [27]:
print(pd.concat([df1, new_row_df]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  n1  n2  n3  n4

Concat é uma função genérica que concatena vários dados de uma só vez.

Para concatenar apenas um objeto se usava a função append, mas ela já está obsoleta

In [29]:
print(pd.concat([df1, df2]))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
0  a4  b4  c4  d4
1  a5  b5  c5  d5
2  a6  b6  c6  d6
3  a7  b7  c7  d7

In [40]:
data_dict = {'A': 'n1',
             'B': 'n2',
             'C': 'n3',
             'D': 'n4'}

df_dict = pd.DataFrame(data_dict, index=[0])

print(pd.concat([df1, df_dict], ignore_index=True))

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1
2  a2  b2  c2  d2
3  a3  b3  c3  d3
4  n1  n2  n3  n4

Para concatenar um dict com um dataframe é preciso converter o dict para dataframe,  
e caso o dict tenha valores escalares (ou seja, valores que não são listas) você precisa passar um index para o dict

4.3.1.1 Ignorando o índice

Se quisermos concatenar dados podemos passar o parâmetro ignore_index para reiniciar o índice das linhas depois de concatenar

In [41]:
row_concat_i = pd.concat([df1, df2, df3], ignore_index=True)

print(row_concat_i)

      A    B    C    D
0    a0   b0   c0   d0
1    a1   b1   c1   d1
2    a2   b2   c2   d2
3    a3   b3   c3   d3
4    a4   b4   c4   d4
5    a5   b5   c5   d5
6    a6   b6   c6   d6
7    a7   b7   c7   d7
8    a8   b8   c8   d8
9    a9   b9   c9   d9
10  a10  b10  c10  d10
11  a11  b11  c11  d11

4.3.2 Adicionando colunas

Concatenar colunas é igualmente facíl a concatenar linhas, basta passarmos o parâmetro axis. 
Por padrão axis vem com valor 0, o que faz que concatene nas linhas, mas se passar 1 ela irá concatenar em colunas

In [42]:
col_concat = pd.concat([df1, df2, df3], axis=1)

print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

In [43]:
print(col_concat['A'])

    A   A    A
0  a0  a4   a8
1  a1  a5   a9
2  a2  a6  a10
3  a3  a7  a11

Se gerarmos um subconjunto pelo nome da coluna, iremos obter todas as colunas com mesmo nome

Para adicionar uma nova coluna não é nescessário uma função, basta especificar o nome da coluna e seu vetor

In [44]:
col_concat['new_col_list'] = ['n1','n2','n3','n4']
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

In [45]:
col_concat['new_col_series'] = pd.Series(['n1','n2','n3','n4'])
print(col_concat)

    A   B   C   D   A   B   C   D    A    B    C    D new_col_list  \
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8           n1
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9           n2
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10           n3
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11           n4

  new_col_series
0             n1
1             n2
2             n3
3             n4

Também é possível reiniciar os índices das colunas para que não tenhamos nomes duplicados

In [46]:
print(pd.concat([df1,df2,df3], axis=1, ignore_index=True))

   0   1   2   3   4   5   6   7    8    9    10   11
0  a0  b0  c0  d0  a4  b4  c4  d4   a8   b8   c8   d8
1  a1  b1  c1  d1  a5  b5  c5  d5   a9   b9   c9   d9
2  a2  b2  c2  d2  a6  b6  c6  d6  a10  b10  c10  d10
3  a3  b3  c3  d3  a7  b7  c7  d7  a11  b11  c11  d11

4.3.3 Concatenação com índices diferentes

PG 141