CAPÍTULO 5
-
Dados ausentes

5.2 O que é um valor NaN ?

In [1]:
from numpy import NaN, NAN, nan
import pandas as pd

Valores ausentes não são iguais a nada, nem mesmo 0. Já que um valor ausente não existe ele não pode ser igual a nada

In [2]:
print(NaN == True, '\n')
print(NaN == 0, '\n')
print(NaN == '', '\n')
print(NaN == NAN, '\n')
print(NaN == NaN, '\n')

False

False

False

False

False

O pandas tem métodos embutidos para testar um valor ausente

In [3]:
print(pd.isnull(NaN), '\n')
print(pd.isnull(nan), '\n')
print(pd.isnull(NAN), '\n')

True

True

True

E tabém tem métodos para testar valores que não são ausentes

In [4]:
print(pd.notnull(NaN), '\n')
print(pd.notnull(42), '\n')
print(pd.notnull('missing'), '\n')

False

True

True

5.3 De onde vêm os valores ausentes ?

Podemos obter um valor ausente quando carregamos um conjunto de dados com esses valores, ou através da manipulação de dados (data munging)

5.3.1 Carga de dados

Com exemplo do capítulo passado, o conjunto de dados visited tinha dados ausentes, quando o carregamos o pandas encontrou as células vazias e nos retornou um DataFrame com NaN.  
Na função read_csv temos três parâmetros que estão relacionados com a leitura de valores ausentes:  
na_values, keep_default_na, na_filter

In [7]:
visited_file = '../../data/survey_visited.csv'

#carrega os dados com os valores default
print(pd.read_csv(visited_file), '\n')

#carrega os dados sem os valores ausentes default
print(pd.read_csv(visited_file, keep_default_na=False), '\n')

#especifica manualmente os valores ausentes
print(pd.read_csv(visited_file, 
                  na_values=[''],
                  keep_default_na=False))

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

5.3.2 Dados combinados

In [13]:
visited = pd.read_csv('../../data/survey_visited.csv')
survey = pd.read_csv('../../data/survey_survey.csv')

print(visited, '\n')
print(survey)

   ident   site       dated
0    619   DR-1  1927-02-08
1    622   DR-1  1927-02-10
2    734   DR-3  1939-01-07
3    735   DR-3  1930-01-12
4    751   DR-3  1930-02-26
5    752   DR-3         NaN
6    837  MSK-4  1932-01-14
7    844   DR-1  1932-03-22

    taken person quant  reading
0     619   dyer   rad     9.82
1     619   dyer   sal     0.13
2     622   dyer   rad     7.80
3     622   dyer   sal     0.09
4     734     pb   rad     8.41
5     734   lake   sal     0.05
6     734     pb  temp   -21.50
7     735     pb   rad     7.22
8     735    NaN   sal     0.06
9     735    NaN  temp   -26.00
10    751     pb   rad     4.35
11    751     pb  temp   -18.50
12    751   lake   sal     0.10
13    752   lake   rad     2.19
14    752   lake   sal     0.09
15    752   lake  temp   -16.00
16    752    roe   sal    41.60
17    837   lake   rad     1.46
18    837   lake   sal     0.21
19    837    roe   sal    22.50
20    844    roe   rad    11.25

In [15]:
vs = visited.merge(survey, left_on='ident', right_on='taken')

print(vs)

    ident   site       dated  taken person quant  reading
0     619   DR-1  1927-02-08    619   dyer   rad     9.82
1     619   DR-1  1927-02-08    619   dyer   sal     0.13
2     622   DR-1  1927-02-10    622   dyer   rad     7.80
3     622   DR-1  1927-02-10    622   dyer   sal     0.09
4     734   DR-3  1939-01-07    734     pb   rad     8.41
5     734   DR-3  1939-01-07    734   lake   sal     0.05
6     734   DR-3  1939-01-07    734     pb  temp   -21.50
7     735   DR-3  1930-01-12    735     pb   rad     7.22
8     735   DR-3  1930-01-12    735    NaN   sal     0.06
9     735   DR-3  1930-01-12    735    NaN  temp   -26.00
10    751   DR-3  1930-02-26    751     pb   rad     4.35
11    751   DR-3  1930-02-26    751     pb  temp   -18.50
12    751   DR-3  1930-02-26    751   lake   sal     0.10
13    752   DR-3         NaN    752   lake   rad     2.19
14    752   DR-3         NaN    752   lake   sal     0.09
15    752   DR-3         NaN    752   lake  temp   -16.00
16    752   DR-3         NaN    752    roe   sal    41.60
17    837  MSK-4  1932-01-14    837   lake   rad     1.46
18    837  MSK-4  1932-01-14    837   lake   sal     0.21
19    837  MSK-4  1932-01-14    837    roe   sal    22.50
20    844   DR-1  1932-03-22    844    roe   rad    11.25

5.3.3 valores de entrada do usuário

In [ ]:
#valores ausentes em uma Series

#num_legs = numero de patas
num_legs = pd.Series({'goat': 4, 'amoeba': nan})
print(num_legs)

In [17]:
#valores ausentes para um dataframe

scientists_NaN = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16'],
    'missing': [NaN, nan]})

print(scientists_NaN)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

Também é possível atribuir diretamente uma coluna com valores vazios a um dataframe

In [23]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-16', '1937-10-16']})

#atribui uma coluna de valores ausentes
scientists['missing'] = nan

print(scientists)

                Name    Occupation        Born        Died  missing
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16      NaN
1     William Gosset  Statistician  1876-06-13  1937-10-16      NaN

5.3.4 Reindexação

PG 158 one hundred fifty-eigth