In [5]:
import pandas as pd

df = pd.read_csv('../data/gapminder.tsv', sep='\t')
print(df.head())
print(type(df))
print(df.shape)
print(df.columns)
print(df.info())

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
<class 'pandas.core.frame.DataFrame'>
(1704, 6)
Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB
None

In [17]:
country_df = df['country']
print(country_df.head())
print(country_df.tail())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [19]:
subset = df[['country', 'continent', 'year']]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [32]:
numberRows = df.shape[0]
lastRow = numberRows - 1

print(df.loc[lastRow])
print('--------------------')
print(df.tail(n=1))

country        Zimbabwe
continent        Africa
year               2007
lifeExp          43.487
pop            12311143
gdpPercap    469.709298
Name: 1703, dtype: object
--------------------
       country continent  year  lifeExp       pop   gdpPercap
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [33]:
subsetLoc = df.loc[lastRow]
subsetTail = df.tail(n=1)

print(type(subsetLoc))
print(type(subsetTail))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [34]:
print(df.loc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [41]:
print(df.iloc[[0, 99, 999]])

         country continent  year  lifeExp       pop    gdpPercap
0    Afghanistan      Asia  1952   28.801   8425333   779.445314
99    Bangladesh      Asia  1967   43.453  62821884   721.186086
999     Mongolia      Asia  1967   51.253   1149500  1226.041130

In [53]:
subset2 = df.loc[10:20, ['country', 'year']]
print(subset2)

        country  year
10  Afghanistan  2002
11  Afghanistan  2007
12      Albania  1952
13      Albania  1957
14      Albania  1962
15      Albania  1967
16      Albania  1972
17      Albania  1977
18      Albania  1982
19      Albania  1987
20      Albania  1992

In [65]:
smallRange = list(range(0, 6, 2))
print(smallRange)

[0, 2, 4]

In [66]:
subset3 = df.iloc[:, smallRange]
print(subset3.head())

       country  year       pop
0  Afghanistan  1952   8425333
1  Afghanistan  1957   9240934
2  Afghanistan  1962  10267083
3  Afghanistan  1967  11537966
4  Afghanistan  1972  13079460

In [102]:
austriaYear = df.iloc[72:84, :5:2]
print(austriaYear)

    country  year      pop
72  Austria  1952  6927772
73  Austria  1957  6965860
74  Austria  1962  7129864
75  Austria  1967  7376998
76  Austria  1972  7544201
77  Austria  1977  7568430
78  Austria  1982  7574613
79  Austria  1987  7578903
80  Austria  1992  7914969
81  Austria  1997  8069876
82  Austria  2002  8148312
83  Austria  2007  8199783

In [103]:
lebanon = df.loc[864:875, ['country', 'year', 'pop']]
print(lebanon)

     country  year      pop
864  Lebanon  1952  1439529
865  Lebanon  1957  1647412
866  Lebanon  1962  1886848
867  Lebanon  1967  2186894
868  Lebanon  1972  2680018
869  Lebanon  1977  3115787
870  Lebanon  1982  3086876
871  Lebanon  1987  3089353
872  Lebanon  1992  3219994
873  Lebanon  1997  3430388
874  Lebanon  2002  3677780
875  Lebanon  2007  3921278

LEMBRANDO

A sintaxe de fatiamento pode ser usada tanto no iloc quanto no loc para se referir as linhas. Caso tente usar fatiamento para as colunas no loc causará erro

E como recomendação para facilitar a leitura do código é melhor usar o loc para a leitura das colunas