CAPÍTULO 2 

Estrutura de dados do Pandas

Criando Series

In [108]:
import pandas as pd

s = pd.Series(['Wes McKinney', 'Creator of Pandas'],
              index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [109]:
s = pd.Series({'fname': 'Luiz', 'lname': 'Giehl', 'favFood': 'sushi' },
              index=['name', 'name2', 'favorite food'])
print(s)

name             NaN
name2            NaN
favorite food    NaN
dtype: object

Se eu passar um dict, não é preciso passar um index.
Mas se passar o valor do index sobrescreverá a key

In [110]:
s = pd.Series(('banana', 'chicken', 'oil'),
              index=['carb', 'protein', 'fat'])
print(s)

carb        banana
protein    chicken
fat            oil
dtype: object

Criando DataFrame

In [111]:
scientists1 = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Ocuppation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-26', '1937-10-16'],
    'Age': ['37', '61']},
    index=['one', 'two']
    )
print(scientists1)

                  Name    Ocuppation        Born        Died Age
one  Rosaline Franklin       Chemist  1920-07-25  1958-04-26  37
two     William Gosset  Statistician  1876-06-13  1937-10-16  61

Usando o 'index=[ ]' é possivel passar um nome para as linhas.

E se usarmos o parâmetro 'columns=[ ]' podemos definir a ordem das colunas passando seus nomes.

In [112]:
scientists2 = pd.DataFrame(
    data={
        'Ocuppation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-26', '1937-10-16'],
        'Age': [37, 61]},
        index=['Rosaline Franklin', 'William Gosset'],
        columns=[ 'Ocuppation','Born', 'Died', 'Age']
    )
firstRow = scientists2.loc['William Gosset']


print(scientists2)
print(firstRow)

                     Ocuppation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-26   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
Ocuppation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [113]:
print(firstRow.index)
print(firstRow.values)
print(firstRow.keys())
print(firstRow.index[0])
print(firstRow.keys()[0])

Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')
Ocuppation
Ocuppation

2.3.1.1 Métodos de Series

In [114]:
ages1 = scientists2['Age']
print(ages1)
print(ages1.mean())
print(ages1.min())
print(ages1.max())
print(ages1.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

In [117]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [120]:
print(ages[ages > ages.mean()])
print(ages > ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [125]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(scientists.Occupation[manual_bool_values])

0          Chemist
1     Statistician
4        Biologist
5        Physician
7    Mathematician
Name: Occupation, dtype: object

2.3.3.1
pag 69