CAPÍTULO 2 

Estrutura de dados do Pandas

Criando Series

In [58]:
import pandas as pd

s = pd.Series(['Wes McKinney', 'Creator of Pandas'],
              index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [59]:
s = pd.Series({'fname': 'Luiz', 'lname': 'Giehl', 'favFood': 'sushi' },
              index=['name', 'name2', 'favorite food'])
print(s)

name             NaN
name2            NaN
favorite food    NaN
dtype: object

Se eu passar um dict, não é preciso passar um index.
Mas se passar o valor do index sobrescreverá a key

In [60]:
s = pd.Series(('banana', 'chicken', 'oil'),
              index=['carb', 'protein', 'fat'])
print(s)

carb        banana
protein    chicken
fat            oil
dtype: object

Criando DataFrame

In [61]:
scientists1 = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Ocuppation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-26', '1937-10-16'],
    'Age': ['37', '61']},
    index=['one', 'two']
    )
print(scientists1)

                  Name    Ocuppation        Born        Died Age
one  Rosaline Franklin       Chemist  1920-07-25  1958-04-26  37
two     William Gosset  Statistician  1876-06-13  1937-10-16  61

Usando o 'index=[ ]' é possivel passar um nome para as linhas.

E se usarmos o parâmetro 'columns=[ ]' podemos definir a ordem das colunas passando seus nomes.

2.3 SERIES

In [62]:
scientists2 = pd.DataFrame(
    data={
        'Ocuppation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-26', '1937-10-16'],
        'Age': [37, 61]},
        index=['Rosaline Franklin', 'William Gosset'],
        columns=[ 'Ocuppation','Born', 'Died', 'Age']
    )
firstRow = scientists2.loc['William Gosset']


print(scientists2)
print(firstRow)

                     Ocuppation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-26   37
William Gosset     Statistician  1876-06-13  1937-10-16   61
Ocuppation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [63]:
print(firstRow.index)
print(firstRow.values)
print(firstRow.keys())
print(firstRow.index[0])
print(firstRow.keys()[0])

Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')
['Statistician' '1876-06-13' '1937-10-16' 61]
Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')
Ocuppation
Ocuppation

2.3.1.1 Métodos de Series

In [64]:
ages1 = scientists2['Age']
print(ages1)
print(ages1.mean())
print(ages1.min())
print(ages1.max())
print(ages1.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64
49.0
37
61
16.97056274847714

In [65]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [66]:
print(ages[ages > ages.mean()])
print(ages > ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [67]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(scientists.Occupation[manual_bool_values])

0          Chemist
1     Statistician
4        Biologist
5        Physician
7    Mathematician
Name: Occupation, dtype: object

2.3.3.1
pag 69

A maioria dos métodos em Series e DataFrame são vetorizados, ou seja atuam em todo o vetor simultaneamente

In [68]:
#Operações em vetores de mesmo tamanho
print(ages + ages)
print(ages * 10)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

In [69]:
#Vetores com tamanhos diferentes
print(ages + pd.Series([5,10, 15, 20, 25]))

0     42.0
1     71.0
2    105.0
3     86.0
4     81.0
5      NaN
6      NaN
7      NaN
dtype: float64

Quando o tamanho for diferente, o comportamento vai depender do type. 

Em Series os vetores farão a operação de acordo com o indice, e o resto do vetor será preenchico com NaN

In [70]:
revAges = ages.sort_index(ascending=False)
print(revAges)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [71]:
print(ages + ages)
print(ages + revAges)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

Mesmo o revAges estando invertido o Pandas alinha os indices dos vetores antes de realizar a operação

2.4 DATAFRAME

Subconjuntos com booleanos

In [72]:
#vetores booleanos obtem subconjuntos de linhas
print(scientists['Age'] > scientists['Age'].mean())
print(scientists[scientists['Age'] > scientists['Age'].mean()])

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [95]:
print(scientists.loc[[True,True, True, True, True,True, True, True]])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

Se fornecermos uma lista de valores Bools com a quantidade diferente do numero de linhas causará um erro

In [102]:
print(scientists[['Occupation', 'Age']])

           Occupation  Age
0             Chemist   37
1        Statistician   61
2               Nurse   90
3             Chemist   66
4           Biologist   56
5           Physician   45
6  Computer Scientist   41
7       Mathematician   77

2.4.2 Operações são alinhadas e vetorizadas automaticamente (broadcasting)

In [113]:
firstHalf = scientists[:4]
secondHalf = scientists[4:]
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

Se o DataFrame tiver strings elas serão duplicadas

In [125]:
firstAge = scientists.loc[:4, 'Age']
secondAge = scientists.loc[4:, 'Age']
print(firstAge)
print(secondAge)

0    37
1    61
2    90
3    66
4    56
Name: Age, dtype: int64
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

2.5 Fazendo alterações em Series e em DataFrames