CAPÍTULO 2 

Estrutura de dados do Pandas

Criando Series

In [4]:
import pandas as pd

s = pd.Series(['Wes McKinney', 'Creator of Pandas'],
              index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [5]:
sd = pd.Series({'fname': 'Luiz', 'lname': 'Giehl', 'favFood': 'sushi' })
print(sd, '\n')

s = pd.Series({'fname': 'Luiz', 'lname': 'Giehl', 'favFood': 'sushi' },
              index=['name', 'name2', 'favorite food'])
print(s)

fname       Luiz
lname      Giehl
favFood    sushi
dtype: object

name             NaN
name2            NaN
favorite food    NaN
dtype: object

Se eu passar um dict, não é preciso passar um index.
Mas se passar o valor do index sobrescreverá a key

In [6]:
s = pd.Series(('banana', 'chicken', 'oil'),
              index=['carb', 'protein', 'fat'])
print(s)

carb        banana
protein    chicken
fat            oil
dtype: object

Criando DataFrame

In [24]:
scientists1 = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Ocuppation': ['Chemist', 'Statistician'],
    'Born': ['1920-07-25', '1876-06-13'],
    'Died': ['1958-04-26', '1937-10-16'],
    'Age': ['37', '61']},
    index=['one', 'two']
    )
print(scientists1)

                  Name    Ocuppation        Born        Died Age
one  Rosaline Franklin       Chemist  1920-07-25  1958-04-26  37
two     William Gosset  Statistician  1876-06-13  1937-10-16  61

Usando o 'index=[ ]' é possivel passar um nome para as linhas.

E se usarmos o parâmetro 'columns=[ ]' podemos definir a ordem das colunas passando seus nomes.

2.3 SERIES

In [25]:
scientists2 = pd.DataFrame(
    data={
        'Ocuppation': ['Chemist', 'Statistician'],
        'Born': ['1920-07-25', '1876-06-13'],
        'Died': ['1958-04-26', '1937-10-16'],
        'Age': [37, 61]},
        index=['Rosaline Franklin', 'William Gosset'],
        columns=[ 'Ocuppation','Born', 'Died', 'Age']
    )
firstRow = scientists2.loc['William Gosset']


print(scientists2, '\n')
print(firstRow)

                     Ocuppation        Born        Died  Age
Rosaline Franklin       Chemist  1920-07-25  1958-04-26   37
William Gosset     Statistician  1876-06-13  1937-10-16   61

Ocuppation    Statistician
Born            1876-06-13
Died            1937-10-16
Age                     61
Name: William Gosset, dtype: object

In [26]:
print(firstRow.index, '\n')
print(firstRow.values, '\n')
print(firstRow.keys(), '\n')
print(firstRow.index[0], '\n')
print(firstRow.keys()[0])

Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')

['Statistician' '1876-06-13' '1937-10-16' 61]

Index(['Ocuppation', 'Born', 'Died', 'Age'], dtype='object')

Ocuppation

Ocuppation

2.3.1.1 Métodos de Series

In [27]:
ages1 = scientists2['Age']
print(ages1, '\n')
print(ages1.mean(), '\n')
print(ages1.min(), '\n')
print(ages1.max(), '\n')
print(ages1.std())

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

49.0

37

61

16.97056274847714

In [11]:
scientists = pd.read_csv('../data/scientists.csv')
ages = scientists['Age']
print(ages.describe())

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [12]:
print(ages[ages > ages.mean()])
print(ages > ages.mean())

1    61
2    90
3    66
7    77
Name: Age, dtype: int64
0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [13]:
manual_bool_values = [True, True, False, False, True, True, False, True]
print(scientists.Occupation[manual_bool_values])

0          Chemist
1     Statistician
4        Biologist
5        Physician
7    Mathematician
Name: Occupation, dtype: object

Para passar uma lista de booleanos manualmente é preciso que a lista tenha o mesmo tamanho do Series ou do DataFrame que esteja querendo pegar os valores

2.3.3.1
pag 69

A maioria dos métodos em Series e DataFrame são vetorizados, ou seja atuam em todo o vetor simultaneamente

In [14]:
#Operações em vetores de mesmo tamanho
print(ages + ages)
print(ages * 10)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0    370
1    610
2    900
3    660
4    560
5    450
6    410
7    770
Name: Age, dtype: int64

In [15]:
#Vetores com tamanhos diferentes
print(ages + pd.Series([5,10, 15, 20, 25]))

0     42.0
1     71.0
2    105.0
3     86.0
4     81.0
5      NaN
6      NaN
7      NaN
dtype: float64

Quando o tamanho for diferente, o comportamento vai depender do type. 

Em Series os vetores farão a operação de acordo com o indice, e o resto do vetor será preenchico com NaN

In [16]:
revAges = ages.sort_index(ascending=False)
print(revAges)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

In [17]:
print(ages + ages)
print(ages + revAges)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64
0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

Mesmo o revAges estando invertido o Pandas alinha os indices dos vetores antes de realizar a operação

2.4 DATAFRAME

Subconjuntos com booleanos

In [18]:
#vetores booleanos obtem subconjuntos de linhas
print(scientists['Age'] > scientists['Age'].mean())
print(scientists[scientists['Age'] > scientists['Age'].mean()])

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool
                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

In [19]:
print(scientists.loc[[True,True, True, True, True,True, True, True]])

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

Se fornecermos uma lista de valores Bools com a quantidade diferente do numero de linhas causará um erro

In [20]:
print(scientists[['Occupation', 'Age']])

           Occupation  Age
0             Chemist   37
1        Statistician   61
2               Nurse   90
3             Chemist   66
4           Biologist   56
5           Physician   45
6  Computer Scientist   41
7       Mathematician   77

2.4.2 Operações são alinhadas e vetorizadas automaticamente (broadcasting)

In [30]:
firstHalf = scientists[:4]
secondHalf = scientists[4:]
print(scientists * 2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

Se o DataFrame tiver strings elas serão duplicadas

In [22]:
firstAge = scientists.loc[:4, 'Age']
secondAge = scientists.loc[4:, 'Age']
print(firstAge)
print(secondAge)

0    37
1    61
2    90
3    66
4    56
Name: Age, dtype: int64
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

2.5 Fazendo alterações em Series e em DataFrames

OBS: *voltar na tabela 2.3*

2.5.1 Adicionando mais colunas

In [32]:
#formata a coluna 'Born' como datatime
born_datatime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datatime, '\n')

#formata a coluna 'Died' como datatime
died_datatime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datatime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

Formatamos as colunas Born e Died que estão como strings para um formato de data, para que sejá possivel fazer operações como ver a diferença entre datas ou calcular idade

In [36]:
scientists['born_dt'], scientists['died_dt'] = (born_datatime, died_datatime)
print(scientists.head())
print(scientists.shape)

                   Name        Born        Died  Age    Occupation    born_dt  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist 1920-07-25
1        William Gosset  1876-06-13  1937-10-16   61  Statistician 1876-06-13
2  Florence Nightingale  1820-05-12  1910-08-13   90         Nurse 1820-05-12
3           Marie Curie  1867-11-07  1934-07-04   66       Chemist 1867-11-07
4         Rachel Carson  1907-05-27  1964-04-14   56     Biologist 1907-05-27

     died_dt
0 1958-04-16
1 1937-10-16
2 1910-08-13
3 1934-07-04
4 1964-04-14
(8, 7)

Adiconamos novas colunas no DataFrame

2.5.2 Alterando diretamente uma coluna

In [140]:
import random

#random_state é usado para deixar a 'aleatoriedade' menos aleatória
scientists['Age'] = scientists['Age'].\
    sample(len(scientists['Age']), random_state=24).\
    reset_index(drop=True)

print(scientists['Age'])

0    77
1    61
2    90
3    45
4    37
5    56
6    41
7    66
Name: Age, dtype: int64

In [141]:
scientists['age_days_dt'] = (scientists['died_dt'] - scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   77             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   45             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   37           Biologist
5             John Snow  1813-03-15  1858-06-16   56           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   66       Mathematician

     born_dt    died_dt age_days_dt
0 1920-07-25 1958-04-16  13779 days
1 1876-06-13 1937-10-16  22404 days
2 1820-05-12 1910-08-13  32964 days
3 1867-11-07 1934-07-04  24345 days
4 1907-05-27 1964-04-14  20777 days
5 1813-03-15 1858-06-16  16529 days
6 1912-06-23 1954-06-07  15324 days
7 1777-04-30 1855-02-23  28422 days

Subtrair a data da morte com a data de nascimento para ter a idade

In [152]:
print(scientists['age_days_dt'].dtype)

object

In [159]:
scientists['age_days_dt'] = pd.to_timedelta(scientists['age_days_dt'])
print(scientists['age_days_dt'])

0   13779 days
1   22404 days
2   32964 days
3   24345 days
4   20777 days
5   16529 days
6   15324 days
7   28422 days
Name: age_days_dt, dtype: timedelta64[ns]

In [155]:
#pode-se converter o valor para o anos usando o método: astype
scientists['age_days_dt'] = scientists['age_days_dt'].\
    astype('timedelta64[Y]')
print(scientists)

ValueError: Cannot convert from timedelta64[ns] to timedelta64[Y]. Supported resolutions are 's', 'ms', 'us', 'ns'

pag 80